.progressBar{
  height: 8px;
  border-radius: 10px;
  overflow: hidden;
}

.progressBar::-webkit-progress-bar{
  background: #DDD;
}

.progressBarLow::-webkit-progress-value{
  background: #f38375;
}
.progressBarHigh::-webkit-progress-value{
  background: #3dccc7;
}